In [2]:
# Module used to connect Python with MongoDb
import pymongo

In [3]:
# The default port used by MongoDB is 27017
# https://docs.mongodb.com/manual/reference/default-mongodb-port/
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [7]:
# Define the 'classDB' database in Mongo
db = client.classDB

In [25]:
# Query all students
# Here, db.students refers to the collection 'classroom '
classroom = db.classroom.find()

# Iterate through each student in the collection
# for student in classroom:
#    print(student)

pd.DataFrame(classroom)

,_id,name,row,favorite_python_library,hobbies,favorite_programming_language
0,5fd96fcc37562d8ce0a5920d,Thomas,3,Matplotlib,"[Running, Stargazing, Reading]",Python
1,5fd96fd237562d8ce0a5920e,Jared,3,Matplotlib,"[Running, Stargazing, Reading]",Python
2,5fd96fd837562d8ce0a5920f,Tsegaye,3,Matplotlib,"[Running, Stargazing, Reading]",Python

In [12]:
# Insert a document into the 'students' collection
db.classroom.insert_one(
    {
        'name': 'Tsegaye',
        'row': 3,
        'favorite_python_library': 'Matplotlib',
        'hobbies': ['Running', 'Stargazing', 'Reading']
    }
)

# query the classroom collection
classroom = db.classroom.find()

# see change in collection
for student in classroom:
    print(student)

{'_id': ObjectId('5fd96fc337562d8ce0a5920c'), 'name': 'Ahmed', 'row': 3, 'favorite_python_library': 'Matplotlib', 'hobbies': ['Running', 'Stargazing', 'Reading']}
{'_id': ObjectId('5fd96fcc37562d8ce0a5920d'), 'name': 'Thomas', 'row': 3, 'favorite_python_library': 'Matplotlib', 'hobbies': ['Running', 'Stargazing', 'Reading']}
{'_id': ObjectId('5fd96fd237562d8ce0a5920e'), 'name': 'Jared', 'row': 3, 'favorite_python_library': 'Matplotlib', 'hobbies': ['Running', 'Stargazing', 'Reading']}
{'_id': ObjectId('5fd96fd837562d8ce0a5920f'), 'name': 'Tsegaye', 'row': 3, 'favorite_python_library': 'Matplotlib', 'hobbies': ['Running', 'Stargazing', 'Reading']}

In [17]:
# Update a document
db.classroom.update_one(
    {'name': 'Ahmed'},
    {'$set':
        {'row': 4}
     }
)

# query the classroom collection
classroom = db.classroom.find()

# see change in collection
for student in classroom:
    print(student)

{'_id': ObjectId('5fd96fc337562d8ce0a5920c'), 'name': 'Ahmed', 'row': 4, 'favorite_python_library': 'Matplotlib', 'hobbies': ['Running', 'Stargazing', 'Reading']}
{'_id': ObjectId('5fd96fcc37562d8ce0a5920d'), 'name': 'Thomas', 'row': 3, 'favorite_python_library': 'Matplotlib', 'hobbies': ['Running', 'Stargazing', 'Reading']}
{'_id': ObjectId('5fd96fd237562d8ce0a5920e'), 'name': 'Jared', 'row': 3, 'favorite_python_library': 'Matplotlib', 'hobbies': ['Running', 'Stargazing', 'Reading']}
{'_id': ObjectId('5fd96fd837562d8ce0a5920f'), 'name': 'Tsegaye', 'row': 3, 'favorite_python_library': 'Matplotlib', 'hobbies': ['Running', 'Stargazing', 'Reading']}

In [23]:
# Update a document
db.classroom.update_many(
    {'row': 3},
    {'$set':
        {'favorite_programming_language': 'Python'}
     }
)

# query the classroom collection
classroom = db.classroom.find()

# see change in collection
for student in classroom:
    print(student)

{'_id': ObjectId('5fd96fcc37562d8ce0a5920d'), 'name': 'Thomas', 'row': 3, 'favorite_python_library': 'Matplotlib', 'hobbies': ['Running', 'Stargazing', 'Reading'], 'favorite_programming_language': 'Python'}
{'_id': ObjectId('5fd96fd237562d8ce0a5920e'), 'name': 'Jared', 'row': 3, 'favorite_python_library': 'Matplotlib', 'hobbies': ['Running', 'Stargazing', 'Reading'], 'favorite_programming_language': 'Python'}
{'_id': ObjectId('5fd96fd837562d8ce0a5920f'), 'name': 'Tsegaye', 'row': 3, 'favorite_python_library': 'Matplotlib', 'hobbies': ['Running', 'Stargazing', 'Reading'], 'favorite_programming_language': 'Python'}

In [19]:
# Add an item to a document array
db.classroom.update_one(
    {'name': 'Ahmed'},
    {'$push':
        {'hobbies': 'Listening to country music'}
     }
)

# query the classroom collection
classroom = db.classroom.find()

# see change in collection
for student in classroom:
    print(student)

{'_id': ObjectId('5fd96fc337562d8ce0a5920c'), 'name': 'Ahmed', 'row': 4, 'favorite_python_library': 'Matplotlib', 'hobbies': ['Running', 'Stargazing', 'Reading', 'Listening to country music', 'Listening to country music']}
{'_id': ObjectId('5fd96fcc37562d8ce0a5920d'), 'name': 'Thomas', 'row': 3, 'favorite_python_library': 'Matplotlib', 'hobbies': ['Running', 'Stargazing', 'Reading']}
{'_id': ObjectId('5fd96fd237562d8ce0a5920e'), 'name': 'Jared', 'row': 3, 'favorite_python_library': 'Matplotlib', 'hobbies': ['Running', 'Stargazing', 'Reading']}
{'_id': ObjectId('5fd96fd837562d8ce0a5920f'), 'name': 'Tsegaye', 'row': 3, 'favorite_python_library': 'Matplotlib', 'hobbies': ['Running', 'Stargazing', 'Reading']}

In [20]:
# Delete a field from a document
db.classroom.update_one({'name': 'Ahmed'},
                        {'$unset':
                         {'row': ""}
                         }
                        )

# query the classroom collection
classroom = db.classroom.find()

# see change in collection
for student in classroom:
    print(student)

{'_id': ObjectId('5fd96fc337562d8ce0a5920c'), 'name': 'Ahmed', 'favorite_python_library': 'Matplotlib', 'hobbies': ['Running', 'Stargazing', 'Reading', 'Listening to country music', 'Listening to country music']}
{'_id': ObjectId('5fd96fcc37562d8ce0a5920d'), 'name': 'Thomas', 'row': 3, 'favorite_python_library': 'Matplotlib', 'hobbies': ['Running', 'Stargazing', 'Reading']}
{'_id': ObjectId('5fd96fd237562d8ce0a5920e'), 'name': 'Jared', 'row': 3, 'favorite_python_library': 'Matplotlib', 'hobbies': ['Running', 'Stargazing', 'Reading']}
{'_id': ObjectId('5fd96fd837562d8ce0a5920f'), 'name': 'Tsegaye', 'row': 3, 'favorite_python_library': 'Matplotlib', 'hobbies': ['Running', 'Stargazing', 'Reading']}

In [21]:
# Delete a document from a collection
db.classroom.delete_one(
    {'name': 'Ahmed'}
)

# query the classroom collection
classroom = db.classroom.find()

# see change in collection
for student in classroom:
    print(student)

{'_id': ObjectId('5fd96fcc37562d8ce0a5920d'), 'name': 'Thomas', 'row': 3, 'favorite_python_library': 'Matplotlib', 'hobbies': ['Running', 'Stargazing', 'Reading']}
{'_id': ObjectId('5fd96fd237562d8ce0a5920e'), 'name': 'Jared', 'row': 3, 'favorite_python_library': 'Matplotlib', 'hobbies': ['Running', 'Stargazing', 'Reading']}
{'_id': ObjectId('5fd96fd837562d8ce0a5920f'), 'name': 'Tsegaye', 'row': 3, 'favorite_python_library': 'Matplotlib', 'hobbies': ['Running', 'Stargazing', 'Reading']}