In [1]:
import random
import pandas as pd

students = ['Adam','Adrian','Alejandra',
            'Angela','Anthony','Ashley','Beili',
            'Brooke','Cealin','Christina','Desiree',
            'Fraol','Gene','Hai','Jannette',
            'Jared','Joseph','Katherine','Leslie',
            'Mahdi','Marilou','Meakin','Michael',
            'Nicholas','Rebekah','Redeat',
            'Regina','Renier','Sam','Sandra',
            'Sree','Steven','Sveena',
            'Sylvester',
            'Taslemun','Thomas','Tsegaye',
            'Valerie','William','Zenan']

assigned = [False for s in students]

group_size = 1

group_count = int(len(students)/group_size) + 1 
# need to fix to handle uneven groups
# the +1 is a workaround

group = {(i + 1):[] for i in range(group_count)}

while False in assigned:
    index = 0

    for s in students:

        i = random.randint(1,group_count)

        if assigned[index] == False:
            
            if(len(group[i]) < group_size):
                group[i].append(s)
                assigned[index] = True

        index = index + 1
    
group_df = pd.DataFrame(dict([(key,pd.Series(value)) for key,value in group.items()]))
group_df = pd.DataFrame.transpose(group_df)

group_df

            0
1   Christina
2    Jannette
3      Redeat
4     Michael
5        Adam
6      Cealin
7         Sam
8     Valerie
9      Steven
10     Meakin
11  Sylvester
12   Nicholas
13     Ashley
14      Mahdi
15     Angela
16    Rebekah
17     Sandra
18       Gene
19    Anthony
20     Brooke
21     Renier
22  Katherine
23      Jared
24       Sree
25     Regina
26      Fraol
27      Beili
28        NaN
29        Hai
30     Joseph
31    Marilou
32     Sveena
33    Desiree
34    Tsegaye
35    William
36  Alejandra
37   Taslemun
38     Thomas
39      Zenan
40     Adrian
41     Leslie

In [2]:
len(students)

40