In [1]:
import random
import pandas as pd

students = [
            'Katherine Kane','Rebekah Hulsey',
            'Sree Kodali','Valerie Dandar',
            'Jannette Amedome','Meakin Marange',
            'Nicholas Koranteng','Regina Tettey',
            'Sylvester Okeleke','Zenan Song',
            'Desiree Herschberger','Redeat Bekele',
            'Sveena Sharma',
            'Taslemun Nahar',
            'Thomas Keane',
            'William Pappas',
            'Adam Kahn',
            'Angela Zhang',
            'Beili Chou',
            'Jared Enders',
            'Mahdi Mohammadi',
            'Michael Lee',
            'Adrian Salas',
            'Alejandra Herbas',
            'Anthony Hughes',
            'Ashley Williams',
            'Brooke Cooper',
            'Christina Redmond',
            'Fraol Abebe',
            'Gene Strange',
            'Hai Tran',
            'Joseph Verghese',
            'Leslie Tyler',
            'Marilou Francis',
            'Renier Mendez',
            'Sam Smith',
            'Sandra Hall',
            'Steven Rigby',
            'Tsegaye Mirach'
]

assigned = [False for s in students]

group_size = 4

group_count = int(len(students)/group_size) + 1 
# need to fix to handle uneven groups
# the +1 is a workaround

group = {(i + 1):[] for i in range(group_count)}

while False in assigned:
    index = 0

    for s in students:

        i = random.randint(1,group_count)

        if assigned[index] == False:
            
            if(len(group[i]) < group_size):
                group[i].append(s)
                assigned[index] = True

        index = index + 1
    
group_df = pd.DataFrame(dict([(key,pd.Series(value)) for key,value in group.items()]))
group_df = pd.DataFrame.transpose(group_df)

group_df

,0,1,2,3
1,Redeat Bekele,Adrian Salas,Renier Mendez,Sam Smith
2,Mahdi Mohammadi,Angela Zhang,William Pappas,Joseph Verghese
3,Meakin Marange,Regina Tettey,Zenan Song,Thomas Keane
4,Sree Kodali,Valerie Dandar,Jannette Amedome,Michael Lee
5,Nicholas Koranteng,Adam Kahn,Anthony Hughes,Marilou Francis
6,Katherine Kane,Christina Redmond,Fraol Abebe,Gene Strange
7,Sveena Sharma,Taslemun Nahar,Ashley Williams,Alejandra Herbas
8,Rebekah Hulsey,Beili Chou,Sandra Hall,Brooke Cooper
9,Desiree Herschberger,Tsegaye Mirach,Jared Enders,NaN
10,Sylvester Okeleke,Hai Tran,Leslie Tyler,Steven Rigby

In [2]:
len(students)

39