In [8]:
import random
import pandas as pd

students = ['Adrian','Alejandra','Anthony','Brooke',
            'Christina','Fraol','Henry','Marilou',
            'Renier','Sam','Sandra','Tsegaye']

assigned = [False for s in students]

group_size = 6

group_count = int(len(students)/group_size) + 1 
# need to fix to handle uneven groups
# the +1 is a workaround

group = {(i + 1):[] for i in range(group_count)}

while False in assigned:
    index = 0

    for s in students:

        i = random.randint(1,group_count)

        if assigned[index] == False:
            
            if(len(group[i]) < group_size):
                group[i].append(s)
                assigned[index] = True

        index = index + 1
    
group_df = pd.DataFrame(dict([(key,pd.Series(value)) for key,value in group.items()]))
group_df = pd.DataFrame.transpose(group_df)

group_df

           0          1       2        3        4    5
1  Alejandra        NaN     NaN      NaN      NaN  NaN
2    Anthony     Brooke  Renier  Tsegaye   Sandra  NaN
3     Adrian  Christina   Fraol    Henry  Marilou  Sam

In [7]:
len(students)

12