In [32]:
brooke_list = ['fuel', 'engine', 'rocket', 'engine', 'engine', 'rocket']
type(brooke_list)
brooke_list

['fuel', 'engine', 'rocket', 'engine', 'engine', 'rocket']

In [33]:
brooke_set = set(brooke_list)
brooke_set
brooke_list = list(brooke_set)
brooke_list

['engine', 'fuel', 'rocket']

In [7]:
brooke_tuple = tuple(brooke_list)
brooke_tuple

type(brooke_tuple)

tuple

In [8]:
brooke_list = list(brooke_tuple)
brooke_list

['fuel', 'engine', 'rocket']

In [9]:
brooke_list[0] = 'rocket fuel'
brooke_list

['rocket fuel', 'engine', 'rocket']

In [12]:
brooke_tuple[0] = 'rocket fuel'

TypeError: 'tuple' object does not support item assignment

In [ ]:
#Using a tuple instead of a list can give the programmer and the interpreter a hint that the data should not be changed.

In [13]:
# Creates a tuple, a sequence of immutable Python objects that cannot be changed
thistuple = ("25006607", "Williams", "Dartanion", "Deangelo", "M", "1983")
print(thistuple)

('25006607', 'Williams', 'Dartanion', 'Deangelo', 'M', '1983')

In [14]:
#%%
print(thistuple[1])

Williams

In [18]:
#%%
print(thistuple[-4])

Dartanion

In [21]:
#%%
print(thistuple[-5:-2])

('Williams', 'Dartanion', 'Deangelo')

In [22]:
#%%
x_tuple = ("25006607", "Williams", "Dartanion")
x_tuple[0] = "25007301"

TypeError: 'tuple' object does not support item assignment

In [23]:
#%%
print(x_tuple)

('25006607', 'Williams', 'Dartanion')

In [24]:
#%%
y_list = list(x_tuple)
y_list[0] = "25007301"
y_list

['25007301', 'Williams', 'Dartanion']

In [25]:
#%%
z_tuple = tuple(y_list)
print(z_tuple)

('25007301', 'Williams', 'Dartanion')