# Scraping with Pandas

In [1]:
import pandas as pd

We can use the `read_html` function in Pandas to automatically scrape any tabular data from a page.

In [36]:
url = 'https://en.wikipedia.org/wiki/List_of_capitals_in_the_United_States'

In [37]:
tables = pd.read_html(url)
tables[2]

,Insular area,Abr.,Date,Capital,Population (2010),Notes
0,American Samoa,AS,1899,Pago Pago,3656,Pago Pago refers to both a village and a group...
1,Guam,GU,1898,Hagåtña,1051,Dededo is the area's largest village.
2,Northern Mariana Islands,MP,1947,Saipan,48220,NaN
3,Puerto Rico,PR,1898,San Juan,395326,The city of San Juan was originally called Pue...
4,U.S. Virgin Islands,VI,1917,Charlotte Amalie,18481,NaN

#### What we get in return is a list of dataframes for any tabular data that Pandas found.

In [38]:
type(tables)
len(tables)

8

#### We can slice off any of those dataframes that we want using normal indexing.

In [39]:
df = tables[0]
df.head()

,City,Building,Start Date,End Date,Duration,Ref
,Albany Congress,Albany Congress,Albany Congress,Albany Congress,Albany Congress,Albany Congress
0,"Albany, New York",Stadt Huys,"June 19, 1754","July 11, 1754",22 days,[8]
1,Stamp Act Congress,Stamp Act Congress,Stamp Act Congress,Stamp Act Congress,Stamp Act Congress,Stamp Act Congress
2,"New York, New York",City Hall,"October 7, 1765","October 25, 1765",23 days,[9]
3,First Continental Congress,First Continental Congress,First Continental Congress,First Continental Congress,First Continental Congress,First Continental Congress
4,"Philadelphia, Pennsylvania",Carpenters' Hall,"September 5, 1774","October 26, 1774",1 month and 21 days,[10]

#### Drop all single header rows

In [41]:
df.columns = df.columns.get_level_values(0)
df = df.loc[df['Ref'].str.startswith("[")]
df.head()

,City,Building,Start Date,End Date,Duration,Ref
0,"Albany, New York",Stadt Huys,"June 19, 1754","July 11, 1754",22 days,[8]
2,"New York, New York",City Hall,"October 7, 1765","October 25, 1765",23 days,[9]
4,"Philadelphia, Pennsylvania",Carpenters' Hall,"September 5, 1774","October 26, 1774",1 month and 21 days,[10]
6,"Philadelphia, Pennsylvania",Independence Hall,"May 10, 1775","December 12, 1776","1 year, 7 months and 2 days",[11]
7,"Baltimore, Maryland",Henry Fite House,"December 20, 1776","February 27, 1777",2 months and 7 days,[12]

In [43]:
df['Ref']

0      [8]
2      [9]
4     [10]
6     [11]
7     [12]
8     [13]
9     [13]
10    [13]
11    [14]
13    [14]
14    [14]
15    [14]
16    [14]
17    [14]
19    [14]
20    [14]
21    [14]
22    [15]
23    [16]
24    [17]
Name: Ref, dtype: object

#### Slipt column values into two separate columns

In [23]:
columnsplit = df['City'].str.split(", ", expand=True)

df = df.assign(City=columnsplit[0],State=columnsplit[1])
df.head()

,City,Building,Start Date,End Date,Duration,Ref,State
0,Albany,Stadt Huys,"June 19, 1754","July 11, 1754",22 days,[8],New York
2,New York,City Hall,"October 7, 1765","October 25, 1765",23 days,[9],New York
4,Philadelphia,Carpenters' Hall,"September 5, 1774","October 26, 1774",1 month and 21 days,[10],Pennsylvania
6,Philadelphia,Independence Hall,"May 10, 1775","December 12, 1776","1 year, 7 months and 2 days",[11],Pennsylvania
7,Baltimore,Henry Fite House,"December 20, 1776","February 27, 1777",2 months and 7 days,[12],Maryland

#### Drop a column

In [24]:
df = df.drop(['Ref'], axis=1)
df.head()

,City,Building,Start Date,End Date,Duration,State
0,Albany,Stadt Huys,"June 19, 1754","July 11, 1754",22 days,New York
2,New York,City Hall,"October 7, 1765","October 25, 1765",23 days,New York
4,Philadelphia,Carpenters' Hall,"September 5, 1774","October 26, 1774",1 month and 21 days,Pennsylvania
6,Philadelphia,Independence Hall,"May 10, 1775","December 12, 1776","1 year, 7 months and 2 days",Pennsylvania
7,Baltimore,Henry Fite House,"December 20, 1776","February 27, 1777",2 months and 7 days,Maryland

#### Reset an index

In [25]:
df = df.reset_index(drop=True)
df.head()

,City,Building,Start Date,End Date,Duration,State
0,Albany,Stadt Huys,"June 19, 1754","July 11, 1754",22 days,New York
1,New York,City Hall,"October 7, 1765","October 25, 1765",23 days,New York
2,Philadelphia,Carpenters' Hall,"September 5, 1774","October 26, 1774",1 month and 21 days,Pennsylvania
3,Philadelphia,Independence Hall,"May 10, 1775","December 12, 1776","1 year, 7 months and 2 days",Pennsylvania
4,Baltimore,Henry Fite House,"December 20, 1776","February 27, 1777",2 months and 7 days,Maryland

In [26]:
df.loc[df.State=="New York"]

,City,Building,Start Date,End Date,Duration,State
0,Albany,Stadt Huys,"June 19, 1754","July 11, 1754",22 days,New York
1,New York,City Hall,"October 7, 1765","October 25, 1765",23 days,New York
13,New York,City Hall,"January 11, 1785","October 6, 1788","3 years, 11 months and 5 days",New York
14,New York,Federal Hall,"March 4, 1789","December 5, 1790","1 year, 9 months and 1 day",New York

## DataFrames as HTML

#### Pandas also had a `to_html` method that we can use to generate HTML tables from DataFrames.

In [28]:
html_table = df.to_html()
print(html_table)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>City</th>
      <th>Building</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Duration</th>
      <th>State</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Albany</td>
      <td>Stadt Huys</td>
      <td>June 19, 1754</td>
      <td>July 11, 1754</td>
      <td>22 days</td>
      <td>New York</td>
    </tr>
    <tr>
      <th>1</th>
      <td>New York</td>
      <td>City Hall</td>
      <td>October 7, 1765</td>
      <td>October 25, 1765</td>
      <td>23 days</td>
      <td>New York</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Philadelphia</td>
      <td>Carpenters' Hall</td>
      <td>September 5, 1774</td>
      <td>October 26, 1774</td>
      <td>1 month and 21 days</td>
      <td>Pennsylvania</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Philadelphia</td>
      <td>Independence Hall</td>
      <td>May 10, 1775</td>
      <td>December 12, 1776</td>
      <td>1 year, 7 months and 2 days</td>
      <td>Pennsylvania</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Baltimore</td>
      <td>Henry Fite House</td>
      <td>December 20, 1776</td>
      <td>February 27, 1777</td>
      <td>2 months and 7 days</td>
      <td>Maryland</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Philadelphia</td>
      <td>Independence Hall</td>
      <td>March 5, 1777</td>
      <td>September 18, 1777</td>
      <td>6 months and 13 days</td>
      <td>Pennsylvania</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Lancaster</td>
      <td>Court House</td>
      <td>September 27, 1777</td>
      <td>September 27, 1777</td>
      <td>1 day</td>
      <td>Pennsylvania</td>
    </tr>
    <tr>
      <th>7</th>
      <td>York</td>
      <td>Court House</td>
      <td>September 30, 1777</td>
      <td>June 27, 1778</td>
      <td>8 months and 28 days</td>
      <td>Pennsylvania</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Philadelphia</td>
      <td>College Hall[citation needed]</td>
      <td>July 2, 1778</td>
      <td>March 1, 1781</td>
      <td>2 years, 7 months and 27 days</td>
      <td>Pennsylvania</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Philadelphia</td>
      <td>Independence Hall</td>
      <td>March 2, 1781</td>
      <td>June 21, 1783</td>
      <td>2 years, 3 months and 19 days</td>
      <td>Pennsylvania</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Princeton</td>
      <td>Nassau Hall</td>
      <td>June 30, 1783</td>
      <td>November 4, 1783</td>
      <td>4 months and 5 days</td>
      <td>New Jersey</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Annapolis</td>
      <td>Maryland State House</td>
      <td>November 26, 1783</td>
      <td>August 19, 1784</td>
      <td>8 months and 24 days</td>
      <td>Maryland</td>
    </tr>
    <tr>
      <th>12</th>
      <td>Trenton</td>
      <td>French Arms Tavern</td>
      <td>November 1, 1784</td>
      <td>December 24, 1784</td>
      <td>1 month and 23 days</td>
      <td>New Jersey</td>
    </tr>
    <tr>
      <th>13</th>
      <td>New York</td>
      <td>City Hall</td>
      <td>January 11, 1785</td>
      <td>October 6, 1788</td>
      <td>3 years, 11 months and 5 days</td>
      <td>New York</td>
    </tr>
    <tr>
      <th>14</th>
      <td>New York</td>
      <td>Federal Hall</td>
      <td>March 4, 1789</td>
      <td>December 5, 1790</td>
      <td>1 year, 9 months and 1 day</td>
      <td>New York</td>
    </tr>
    <tr>
      <th>15</th>
      <td>Philadelphia</td>
      <td>Congress Hall</td>
      <td>December 6, 1790</td>
      <td>May 14, 1800</td>
      <td>9 years, 5 months and 8 days</td>
      <td>Pennsylvania</td>
    </tr>
    <tr>
      <th>16</th>
      <td>District of Columbia</td>
      <td>United States Capitol</td>
      <td>November 17, 1800</td>
      <td>August 24, 1814</td>
      <td>13 years, 9 months and 7 days</td>
      <td>None</td>
    </tr>
    <tr>
      <th>17</th>
      <td>Washington</td>
      <td>Blodgett's Hotel</td>
      <td>September 19, 1814</td>
      <td>December 7, 1815</td>
      <td>1 year, 2 months and 18 days</td>
      <td>D.C.</td>
    </tr>
    <tr>
      <th>18</th>
      <td>Washington</td>
      <td>Old Brick Capitol</td>
      <td>December 4, 1815</td>
      <td>March 3, 1819</td>
      <td>3 years, 2 months and 27 days</td>
      <td>D.C.</td>
    </tr>
    <tr>
      <th>19</th>
      <td>Washington</td>
      <td>United States Capitol</td>
      <td>March 4, 1819</td>
      <td>present</td>
      <td>201 years, 9 months and 13 days</td>
      <td>D.C.</td>
    </tr>
  </tbody>
</table>

#### You may have to strip unwanted newlines to clean up the table.

In [29]:
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>City</th>      <th>Building</th>      <th>Start Date</th>      <th>End Date</th>      <th>Duration</th>      <th>State</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Albany</td>      <td>Stadt Huys</td>      <td>June 19, 1754</td>      <td>July 11, 1754</td>      <td>22\xa0days</td>      <td>New York</td>    </tr>    <tr>      <th>1</th>      <td>New York</td>      <td>City Hall</td>      <td>October 7, 1765</td>      <td>October 25, 1765</td>      <td>23\xa0days</td>      <td>New York</td>    </tr>    <tr>      <th>2</th>      <td>Philadelphia</td>      <td>Carpenters\' Hall</td>      <td>September 5, 1774</td>      <td>October 26, 1774</td>      <td>1\xa0month and 21\xa0days</td>      <td>Pennsylvania</td>    </tr>    <tr>      <th>3</th>      <td>Philadelphia</td>      <td>Independence Hall</td>      <td>May 10, 1775</td>      <td>December 12, 1776</td>      <td>1\xa0year, 7\xa0months and 2\xa0days</td>      <td>Pennsylvania</td>    </tr>    <tr>      <th>4</th>      <td>Baltimore</td>      <td>Henry Fite House</td>      <td>December 20, 1776</td>      <td>February 27, 1777</td>      <td>2\xa0months and 7\xa0days</td>      <td>Maryland</td>    </tr>    <tr>      <th>5</th>      <td>Philadelphia</td>      <td>Independence Hall</td>      <td>March 5, 1777</td>      <td>September 18, 1777</td>      <td>6\xa0months and 13\xa0days</td>      <td>Pennsylvania</td>    </tr>    <tr>      <th>6</th>      <td>Lancaster</td>      <td>Court House</td>      <td>September 27, 1777</td>      <td>September 27, 1777</td>      <td>1\xa0day</td>      <td>Pennsylvania</td>    </tr>    <tr>      <th>7</th>      <td>York</td>      <td>Court House</td>      <td>September 30, 1777</td>      <td>June 27, 1778</td>      <td>8\xa0months and 28\xa0days</td>      <td>Pennsylvania</td>    </tr>    <tr>      <th>8</th>      <td>Philadelphia</td>      <td>College Hall[citation needed]</td>      <td>July 2, 1778</td>      <td>March 1, 1781</td>      <td>2\xa0years, 7\xa0months and 27\xa0days</td>      <td>Pennsylvania</td>    </tr>    <tr>      <th>9</th>      <td>Philadelphia</td>      <td>Independence Hall</td>      <td>March 2, 1781</td>      <td>June 21, 1783</td>      <td>2\xa0years, 3\xa0months and 19\xa0days</td>      <td>Pennsylvania</td>    </tr>    <tr>      <th>10</th>      <td>Princeton</td>      <td>Nassau Hall</td>      <td>June 30, 1783</td>      <td>November 4, 1783</td>      <td>4\xa0months and 5\xa0days</td>      <td>New Jersey</td>    </tr>    <tr>      <th>11</th>      <td>Annapolis</td>      <td>Maryland State House</td>      <td>November 26, 1783</td>      <td>August 19, 1784</td>      <td>8\xa0months and 24\xa0days</td>      <td>Maryland</td>    </tr>    <tr>      <th>12</th>      <td>Trenton</td>      <td>French Arms Tavern</td>      <td>November 1, 1784</td>      <td>December 24, 1784</td>      <td>1\xa0month and 23\xa0days</td>      <td>New Jersey</td>    </tr>    <tr>      <th>13</th>      <td>New York</td>      <td>City Hall</td>      <td>January 11, 1785</td>      <td>October 6, 1788</td>      <td>3\xa0years, 11\xa0months and 5\xa0days</td>      <td>New York</td>    </tr>    <tr>      <th>14</th>      <td>New York</td>      <td>Federal Hall</td>      <td>March 4, 1789</td>      <td>December 5, 1790</td>      <td>1\xa0year, 9\xa0months and 1\xa0day</td>      <td>New York</td>    </tr>    <tr>      <th>15</th>      <td>Philadelphia</td>      <td>Congress Hall</td>      <td>December 6, 1790</td>      <td>May 14, 1800</td>      <td>9\xa0years, 5\xa0months and 8\xa0days</td>      <td>Pennsylvania</td>    </tr>    <tr>      <th>16</th>      <td>District of Columbia</td>      <td>United States Capitol</td>      <td>November 17, 1800</td>      <td>August 24, 1814</td>      <td>13\xa0years, 9\xa0months and 7\xa0days</td>      <td>None</td>    </tr>    <tr>      <th>17</th>      <td>Washington</td>      <td>Blodgett\'s Hotel</td>      <td>September 19, 1814</td>      <td>December 7, 1815</td>      <td>1\xa0year, 2\xa0months and 18\xa0days</td>      <td>D.C.</td>    </tr>    <tr>      <th>18</th>      <td>Washington</td>      <td>Old Brick Capitol</td>      <td>December 4, 1815</td>      <td>March 3, 1819</td>      <td>3\xa0years, 2\xa0months and 27\xa0days</td>      <td>D.C.</td>    </tr>    <tr>      <th>19</th>      <td>Washington</td>      <td>United States Capitol</td>      <td>March 4, 1819</td>      <td>present</td>      <td>201\xa0years, 9\xa0months and 13\xa0days</td>      <td>D.C.</td>    </tr>  </tbody></table>'

You can also save the table directly to a file.

In [30]:
df.to_html('table.html')

In [ ]:
# OSX Users can run this to open the file in a browser, 
# or you can manually find the file and open it in the browser
!open table.html

In [31]:
!start table.html